root: "/"
logo: "http://placehold.it/300x300"
oauth:
  facebook:
    enabled: false
  google:
    enabled: false
    key: "__TODO:_YOUR_GOOGLE_CLIENT_ID_HERE__"
    secret: "__TODO:_YOUR_GOOGLE_CLIENT_SECRET_HERE__"
  twitter:
    enabled: false

diaspora:
  url: "https://my.pod.url"
  password:
    pepper: "--peper--here--"

discourse:
  sso:
    secret: "a_secret_here"
