[program:ddosso-keygen]
process_name=%(process_num)02d
command={path_to_the_venv}/bin/python workers/keygen.py
environment=PYTHONPATH="{ddosso_path}"
user=diaspora
group=diaspora
#killasgroup=true
#startsecs=5
#stopwaitsecs=10
# ddosso_path is {parent_pat}/ddosso/ddosso or the dir parent of the conf
directory = {ddosso_path}/ddosso

numprocs=5
stdout_logfile={ddosso_log_path}/ddosso_keygen_stdout.log
stderr_logfile={ddosso_log_path}/ddosso_keygen_stderr.log
#autostart=true
#autorestart=true
#startsecs=10
#stopwaitsecs=5ent = yes

