{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="login-box">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <h1>Acessar conta</h1>
                    </div>
                </div>
            </div>
            {% if False %}
            <div class="box-body">
                <div class="section-social-buttons">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <button class="btn btn-block btn-social google">
                                        <i class="fa fa-google-plus"></i> com Google
                                    </button>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <button class="btn btn-block btn-social facebook">
                                        <i class="fa fa-facebook"></i> com Facebook
                                    </button>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <button class="btn btn-block btn-social twitter">
                                        <i class="fa fa-twitter"></i> com Twitter
                                    </button>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <button class="btn btn-block btn-social yahoo">
                                        <i class="fa fa-yahoo"></i> com Yahoo
                                    </button>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <button class="btn btn-block btn-social github">
                                        <i class="fa fa-github"></i> com GitHub
                                    </button>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <button class="btn btn-block btn-social linkedin">
                                        <i class="fa fa-linkedin"></i> com LinkeIn
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% end %}
                <img src="{{ ddosso_logo }}">
                <div class="section-form">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="login-form  {% module PrintIfError("fail", "has-error") %}">
                                <form class="form-horizontal" action="login" method="post">
                                    {% module xsrf_form_html() %}
                                    <div class="form-group">
                                        <label for="login-user" class="col-sm-2 control-label">Usuário</label>
                                        <div id="login-user-container" class="col-sm-10 {% module PrintIfError("username", "has-error") %}">
                                            <input id="login-user" type="text" class="form-control" name="username" placeholder="Usuário no TheRealTalk" autofocus>
                                            {% module LoginErrorMessage("username") %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="login-pwd" class="col-sm-2 control-label">Senha</label>
                                        <div id="login-pwd-container" class="col-sm-10 {% module PrintIfError("password", "has-error") %}">
                                            <input id="login-pwd" type="password" class="form-control" name="password" placeholder="Senha no TheRealTalk">
                                            {% module LoginErrorMessage("password") %}
                                            {% module LoginErrorMessage("fail") %}
                                            <a id="forgot-pwd" target="_blank" href="{{ ddosso_conf['diaspora']['url'] }}/users/password/new">Esqueci minha senha</a>
                                        </div>
                                    </div>
                                    <div class="form-group form-btns">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-login" type="submit">Entrar</button>
                                            <a href="{{ ddosso_conf['diaspora']['url'] }}/users/sign_up" target="_blank" class="link-register">Criar uma conta</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end %}
