{% extends "base.html" %}

{% block content %}
    {% raw modules.EmbedStache("profileComponentStache", "profile.stache") %}
    <div class="container">
        <div class="login-logo text-center">
            <img src="{{ ddosso_logo }}">
        </div>
        <div class="login-box">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <h1>Diaspora Profile</h1>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="section-social-buttons">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-2">
                                    <img src="{{ account['profile'].get_image_url() }}" alt="" class="img-rounded img-thumbnail">
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div><label>Handler:</label> {{ account['user'].username }}@{{ ddosso_conf['diaspora']['domain'] }} <a href="{{ ddosso_conf['diaspora']['url'] }}/profile/edit">Edit Profile</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div><label>First name:</label> {{ account['profile'].first_name if account['profile'].first_name else "" }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div><label>Last name:</label> {{ account['profile'].last_name if account['profile'].last_name else "" }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div><label>Bio:</label></div>
                                        <div>{{ account['profile'].bio }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-3">
                                    <div class="row">
                                        <div>
                                            <div><label>Tags:</label> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <h1>Social Profiles</h1>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div id="profileComponentHolder" class="section-social-buttons"></div>
            </div>
        </div>
    </div>
{% end %}


{% block page_js_files %}
<script src="{{ modules.RootedPath("/static/js/profile.js") }}"></script>
{% end %}
