{% extends "base.html" %}

{% block content %}
    {% raw modules.EmbedStache("profileComponentStache", "profile.stache") %}
    {% raw modules.EmbedStache("socialProfilesComponentStache", "social_profiles.stache") %}
    <div class="container">
        <div class="login-logo text-center">
            <img src="{{ ddosso_logo }}">
        </div>
        <div class="login-box">
             <div class="box-body">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 text-right">
                        <div><a href="{{ ddosso_conf['diaspora']['url'] }}">Pod</a> Discourse <a href="{{ ddosso_conf['diaspora']['url'] }}/users/sign_out">Logout</a></div>
                    </div>
                </div>
            </div>
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <h1>Diaspora Profile</h1>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div id="profileComponentHolder" class="section-social-buttons"></div>
            </div>
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <h1>Social Profiles</h1>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div id="socialProfilesComponentHolder" class="section-social-buttons"></div>
            </div>
        </div>
    </div>
{% end %}


{% block page_js_files %}
<script src="{{ modules.RootedPath("/static/js/profile.js") }}"></script>
{% end %}
