{% extends "base.html" %}

{% block content %}
    {% raw modules.EmbedStache("sign_in_form", "sign_in.stache") %}
    <div class="container">
        <div class="login-logo text-center">
            <img src="{{ ddosso_logo }}">
        </div>
        <div class="login-box">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <h1>Acessar conta</h1>
                    </div>
                </div>
            </div>
            {% include "sign_up_errors.html" %}
            <div class="box-body">
                {% include "social.html" %}
                <div id="ddosso_sign_in_form" class="section-form"></div>
            </div>
        </div>
    </div>
{% end %}

{% block page_js_files %}
<script src="{{ modules.RootedPath("/static/js/sign_in.js") }}"></script>
{% end %}
